<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="jumbotron">
        <div class="center">
          <h4>About This Section</h4>
        </div>
        <h5>Here, you can see bar graph visualizations of Bob Ross' seasons throughout the ages. It allows you to see the frequency of various elements common to his paintings in each season.</h5>
      </div>
    </div>
    <div class="jumbotron center">
      <h4>Bar Graph</h4>
    </div>
    <div class="col-sm-8">
      <!-- GRAPHS GO HERE -->
    </div>
</div>
