<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <div class="jumbotron">
        <h1>Happy Little Bar Graph</h1>
        <p>This chart shows the frequency of all elements in a given season.  The vertical axis shows how many times a given element was included in paintings in a given season.  As you move the slider, you can see how Mr. Ross's interests changed over time.  When all the bars are tall, it indicates that Mr. Ross included a greater number of elements in that seasons's work.  When the bars are low, it suggests that given season inculded a lower diversity of elements in each painting.</p>

        <div class="center">
          <h4>About This Section</h4>
        </div>
        <h5>Here, you can see bar graph visualizations of Bob Ross' seasons throughout the ages. It allows you to see the frequency of various elements common to his paintings in each season.</h5>
      </div>
    </div>
    <div class="jumbotron center">
      <h4>Bar Graph</h4>
    </div>
    <div class="col-sm-8 show-data-4" id="bar-graph">
      <!-- GRAPHS GO HERE -->
    </div>
  </div>
  <h3>Season: {{userSelection}}</h3>
  <input type="range" min="1" max="30"  step="1" value="1" id="rangeInput" list="volsettings" (change)="showSeason($event.target.value)">
  <output for="number_input"></output>
  <datalist id="volsettings">
	<option>1</option>
	<option>2</option>
	<option>3</option>
	<option>4</option>
	<option>5</option>
	<option>6</option>
	<option>7</option>
	<option>8</option>
	<option>9</option>
	<option>10</option>
	<option>11</option>
	<option>12</option>
	<option>13</option>
	<option>14</option>
	<option>15</option>
	<option>16</option>
	<option>17</option>
	<option>18</option>
	<option>19</option>
	<option>20</option>
	<option>21</option>
	<option>22</option>
	<option>23</option>
	<option>24</option>
	<option>25</option>
	<option>26</option>
	<option>27</option>
	<option>28</option>
	<option>29</option>
	<option>30</option>
</datalist>





  <div id="barchart" class="show-data-4">
  </div>
