<div class="container">
  <div class="row scatter-content">
    <div class="jumbotron center">
    </div>

    <div class="col-sm-8" id="scatter-plot">
      <div id="bRoss">
      </div>
    </div>
    <div class="col-sm-4">
      <h2>Bob Ross' Happy Little Scatterplot</h2><br>
      <div class="center">

        <h4>About This Section</h4>

        <h5>This Chart demonstrates the relationship between different elments of Bob Ross's work.  Each axis represents the number of times Mr. Ross painted a specific element in a season.  The dots represent the number of times that those two elements were painted together in a given season.  This allows us to see patterns of elements occuring together over the course of Mr. Ross's career.  If the dots cluster along the diagonal between axes, the two elements are closely related.  If the dots tend towards the edges, the elements rarely appear together.</h5><br>
        <label>Select a subject:</label><br>
        <select (change)="changeFirstSubject($event.target.value)">
          <option value="bushes" selected="selected">bushes</option>
          <option value="cabin">cabin</option>
          <option value="cactus">cactus</option>
          <option value="circle_frame">circle_frame</option>
          <option value="cirrus">cirrus</option>
          <option value="cliff">cliff</option>
          <option value="clouds">clouds</option>
          <option value="conifer">conifer</option>
          <option value="cumulus">cumulus</option>
          <option value="decidious">decidious</option>
          <option value="grass">grass</option>
          <option value="lake">lake</option>
          <option value="mountain">mountain</option>
          <option value="mountains">mountains</option>
          <option value="river">river</option>
          <option value="snow">snow</option>
          <option value="snowy_mountain">snowy_mountain</option>
          <option value="tree">tree</option>
          <option value="trees">trees</option>
          <option value="waterfall">waterfall</option>
          <option value="waves">waves</option>
          <option value="winter">winter</option>
        </select><br><br>


        <select (change)="changeSecondSubject($event.target.value)">
          <option value="bushes">bushes</option>
          <option value="cabin" selected="selected">cabin</option>
          <option value="cactus">cactus</option>
          <option value="circle_frame">circle_frame</option>
          <option value="cirrus">cirrus</option>
          <option value="cliff">cliff</option>
          <option value="clouds">clouds</option>
          <option value="conifer">conifer</option>
          <option value="cumulus">cumulus</option>
          <option value="decidious">decidious</option>
          <option value="grass">grass</option>
          <option value="lake">lake</option>
          <option value="mountain">mountain</option>
          <option value="mountains">mountains</option>
          <option value="river">river</option>
          <option value="snow">snow</option>
          <option value="snowy_mountain">snowy_mountain</option>
          <option value="tree">tree</option>
          <option value="trees">trees</option>
          <option value="waterfall">waterfall</option>
          <option value="waves">waves</option>
          <option value="winter">winter</option>
        </select><br><br>

      </div>
    </div>
  </div>
</div>
