<div class="container">
  <div class="row scatter-content">
    <div class="jumbotron center">
    </div>

    <div class="col-sm-8" id="scatter-plot">
      <div id="bRoss">
      </div>
    </div>
    <div class="col-sm-4">
      <h2>Bob Ross' Happy Little Scatterplot</h2><br>
      <div class="center">

        <h4>About This Section</h4>

        <h5>Here, you can see scatterplot visualizations of Bob Ross' seasons throughout the ages. It allows you to see the frequency of various elements common to his paintings in each season.</h5><br>
        <label>Select a subject:</label><br>
        <select (change)="changeFirstSubject($event.target.value)">
          <option value="bushes" selected="selected">bushes</option>
          <option value="cabin">cabin</option>
          <option value="cactus">cactus</option>
          <option value="circle_frame">circle_frame</option>
          <option value="cirrus">cirrus</option>
          <option value="cliff">cliff</option>
          <option value="clouds">clouds</option>
          <option value="conifer">conifer</option>
          <option value="cumulus">cumulus</option>
          <option value="decidious">decidious</option>
          <option value="grass">grass</option>
          <option value="lake">lake</option>
          <option value="mountain">mountain</option>
          <option value="mountains">mountains</option>
          <option value="river">river</option>
          <option value="snow">snow</option>
          <option value="snowy_mountain">snowy_mountain</option>
          <option value="tree">tree</option>
          <option value="trees">trees</option>
          <option value="waterfall">waterfall</option>
          <option value="waves">waves</option>
          <option value="winter">winter</option>
        </select><br><br>


        <select (change)="changeSecondSubject($event.target.value)">
          <option value="bushes">bushes</option>
          <option value="cabin" selected="selected">cabin</option>
          <option value="cactus">cactus</option>
          <option value="circle_frame">circle_frame</option>
          <option value="cirrus">cirrus</option>
          <option value="cliff">cliff</option>
          <option value="clouds">clouds</option>
          <option value="conifer">conifer</option>
          <option value="cumulus">cumulus</option>
          <option value="decidious">decidious</option>
          <option value="grass">grass</option>
          <option value="lake">lake</option>
          <option value="mountain">mountain</option>
          <option value="mountains">mountains</option>
          <option value="river">river</option>
          <option value="snow">snow</option>
          <option value="snowy_mountain">snowy_mountain</option>
          <option value="tree">tree</option>
          <option value="trees">trees</option>
          <option value="waterfall">waterfall</option>
          <option value="waves">waves</option>
          <option value="winter">winter</option>
        </select><br><br>

      </div>
    </div>
  </div>
</div>
