/* You can add global styles to this file, and also import other style files */
.body {
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #ededed;
}

.center {
  text-align: center;
}

.jumbotron h5 {
  line-height: 1.5em;
}
