/* You can add global styles to this file, and also import other style files */
.body {
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #ededed;
}

.line {
  fill: none;
  stroke-width: 1px;
  stroke: steelblue;
}

.legend-line {
  stroke-width: 3px;
  stroke: black;
}

.line-bushes,
#legend-bushes {
  stroke: #d6c154;
}

.center {
  text-align: center;
}

.jumbotron h5 {
  line-height: 1.5em;
}

.line-cabin,
#legend-cabin {
  stroke: #352120;
}

.line-cactus,
#legend-cactus {
  stroke: #2d3830;
}

.line-cirrus,
#legend-cirrus {
  stroke: #c0dfe7;
}

.line-circle_frame,
#legend-circle_frame {
  stroke: green;
}

.line-cliff,
#legend-cliff {
  stroke: #433a3f;
}

.line-clouds,
#legend-clouds {
  stroke: #d4e6e9;
}

.line-conifer,
#legend-conifer {
  stroke: #daee8f;
}

.line-cumulus,
#legend-cumulus {
  stroke: #ffffff;
}

.line-decidious,
#legend-decidious {
  stroke: #ae4104;
}

.line-grass,
#legend-grass {
  stroke: #8b8a52;
}

.line-lake,
#legend-lake {
  stroke: #78afa5;
}

.line-mountain,
#legend-mountain {
  stroke: #21848e;
}

.line-mountains,
#legend-mountains {
  stroke: #a49288;
}

.line-river,
#legend-river {
  stroke: #67a5b4;
}

.line-snow,
#legend-snow {
  stroke: #e2dde4;
}

.line-snowy_mountain,
#legend-snowy_mountain {
  stroke: #e4e5e9;
}

.line-tree,
#legend-tree {
  stroke: #323d35;
}

.line-trees,
#legend-trees {
  stroke: #4b4b29;
}

.line-waterfall,
#legend-waterfall {
  stroke: #a0acc2;
}

.line-waves,
#legend-waves {
  stroke: #68d5e1;
}

.line-winter,
#legend-winter {
  stroke: #3f9;
}

.scatter-content {
  width: 100%;
}

.line-tooltip {
  font-size: 10pt;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.point {
  fill: steelblue;
  stroke: #000;
}
