/* You can add global styles to this file, and also import other style files */
.body {
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #ededed;
}

.line {
  fill: none;
  stroke-width: 1px;
  stroke: steelblue;
}

.legend-line {
  stroke-width: 3px;
  stroke: black;
}

.line-bushes,
#legend-bushes {
  stroke: green;
}

.line-cabin,
#legend-cabin {
  stroke: green;
}

.line-cactus,
#legend-cactus {
  stroke: green;
}

.line-cirrus,
#legend-cirrus {
  stroke: green;
}
.line-circle_frame,
#legend-circle_frame {
  stroke: green;
}

.line-cactus,
#legend-cactus {
  stroke: green;
}

.line-cliff,
#legend-cliff {
  stroke: green;
}

.line-clouds,
#legend-clouds {
  stroke: green;
}

.line-conifer,
#legend-conifer {
  stroke: green;
}

.line-cumulus,
#legend-cumulus {
  stroke: green;
}

.line-decidious,
#legend-decidious {
  stroke: green;
}

.line-grass,
#legend-grass {
  stroke: green;
}

.line-lake,
#legend-lake {
  stroke: green;
}

.line-mountain,
#legend-mountain {
  stroke: green;
}

.line-mountains,
#legend-mountains {
  stroke: green;
}

.line-river,
#legend-river {
  stroke: green;
}

.line-snow,
#legend-snow {
  stroke: green;
}

.line-snowy_mountain,
#legend-snowy_mountain {
  stroke: green;
}

.line-tree,
#legend-tree {
  stroke: green;
}

.line-trees,
#legend-trees {
  stroke: green;
}

.line-waterfall,
#legend-waterfall {
  stroke: green;
}

.line-waves,
#legend-waves {
  stroke: green;
}

.line-winter,
#legend-winter {
  stroke: green;
}
