<div id="main-image">
  <img class="home-image" src="../assets/northern_lights.jpg" alt="Bob Ross - Northern Lights">
  <h4>“We don't make mistakes, just happy little accidents.”</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <a routerLink='bar'>
            <img src="../assets/bar.svg" alt="Bar graph">
            <h6>Click here to see Bob Ross</h6>
            <h6>visualized with a bar graph!</h6>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <a routerLink='line'>
            <img src="../assets/line.svg" alt="Line graph">
            <h6>Click here to see Bob Ross</h6>
            <h6>visualized with a line graph!</h6>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <a routerLink='scatter'>
            <img src="../assets/scatter.svg" alt="Scatter plot">
            <h6>Click here to see Bob Ross</h6>
            <h6>visualized with a scatter plot!</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
