.home-image {
  width: 100vw;
  height: 65vh;
}

#main-image {
  margin-bottom: 30px;
}

#main-image h4 {
  z-index: 100;
  position: absolute;
  color: #ededed;
  font-size: 20px;
  left: 60%;
  top: 20%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 400px;
  text-align: center;
  line-height: 1.3em;
}

.panel {
  border-radius: 0;
  border: 0;
  width: 0 auto;
  text-align: center;
  background-color: #ededed;
  transition: 0.5s;
  box-shadow: none;
}

.panel:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.panel img {
  height: 100px;
  width: 100px;
}

a {
  transition: 0.5s;
  color: #333;
  text-decoration: none;
}

a:hover {
  transition: 0.5s;
  color: #485c29;
  text-decoration: none;
}
